CarouselViewDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CarouselViewDemo.xcodeproj/project.xcworkspace/xcuserdata/kastet.xcuserdatad/UserInterfaceState.xcuserstate
CarouselViewDemo.xcodeproj/xcuserdata/kastet.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
CarouselViewDemo.xcodeproj/xcuserdata/kastet.xcuserdatad/xcschemes/CarouselViewDemo.xcscheme
CarouselViewDemo.xcodeproj/project.xcworkspace/xcuserdata/kastet.xcuserdatad/WorkspaceSettings.xcsettings

CarouselViewDemo.xcodeproj/project.xcworkspace/xcuserdata/rbooth.xcuserdatad/UserInterfaceState.xcuserstate
